LeagueClientDebugger/venv/
LeagueClientDebugger/.idea/
LeagueClientDebugger/__pycache__/
LeagueClientDebugger/config.json
LeagueClientDebugger/fullconfig.txt
LeagueClientDebugger/all_requests.txt
LeagueClientDebugger/LeagueHooker/.vs/
LeagueClientDebugger/LeagueHooker/x64/Release/LeagueHooker.iobj
LeagueClientDebugger/LeagueHooker/x64/Release/LeagueHooker.ipdb
LeagueClientDebugger/LeagueHooker/x64/Debug/
LeagueClientDebugger/LeagueHooker/Debug/
LeagueClientDebugger/LeagueHooker/Release/
LeagueClientDebugger/LeagueHooker/LeagueHooker/x64/
LeagueClientDebugger/LeagueHooker/LeagueHooker/Debug/
LeagueClientDebugger/LeagueHooker/LeagueHooker/Release/

